
<md-card ng-controller="ModalCtrl" style="z-index: 1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>editando elementos</h2>
        </div>
    </md-toolbar>
    <md-card-content layout-paddin style="margin: 5px">
        <div layout="column" id="attrtexto" ng-show="verattrtexto"  style="width: 100%;margin:10px; padding: 5px">
            <div layout="row">
                <md-input-container  flex="100"  class="md-block">
                    <label>Titulo</label>
                    <input required name="nomb_elemento" ng-model="nomb_elemento" ng-change="cambio()" id="nombreelemento">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50" >
                    <label>Largo elemento</label>
                    <md-select ng-model="largoelemento"  ng-change="cambio()">
                        <md-option ng-value="largotext" ng-repeat="largotext in widthcheck">{{ largotext.width }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="50" >
                    <label>Ancho elemento</label>
                    <md-select ng-model="anchoelegido"  ng-change="cambio()">
                        <md-option ng-value="anchotext" ng-repeat="anchotext in anchotexto">{{ anchotext.name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">
                <container flex="50">
                    <p>posicion:</p>
                    <md-radio-group ng-model="posicion.opcion" ng-change="cambio()" >
                        <md-radio-button value="izquierda" class="md-primary">izquierda</md-radio-button>
                        <md-radio-button value="derecha"> derecha </md-radio-button>
                    </md-radio-group>
                </container>
                <md-input-container flex="50" >
                    <label>fuente</label>
                    <md-select ng-model="familiaelegida" ng-model-options="{trackBy: '$value.id'}">
                        <md-option ng-value="user" ng-repeat="user in fontfamilia">{{ user.name }}</md-option>
                    </md-select>

                </md-input-container>


            </div>
            <div layout="row">

                <div md-color-picker="textConfig.optionsf" ng-model="textConfig.textcolor"  ng-change="cambio()"></div>
                <div md-color-picker="textConfig.optionsb" ng-model="textConfig.colorfondo"  ng-change="cambio()"></div>

            </div>

        </div>
        <div layout="column" id="attrboton" ng-show="verattrboton" style="width: 100%;margin:10px; padding: 5px">
            <div layout="row">
                <md-input-container  flex="100"  class="md-block">
                    <label>Titulo</label>
                    <input required name="nomb_elemento" ng-model="nomb_elementobtn" ng-change="cambio()" id="nomboton">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50" >
                    <label>tamaño fuente</label>
                    <input required name="font_size" ng-model="font_size.opcion" id="botonsizemodal" ng-change="cambio()">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50" >
                    <label>Ancho elemento</label>
                    <md-select ng-model="anchoelement" ng-model-options="{trackBy: '$value.id'}" ng-change="cambio()">
                        <md-option ng-value="anchobtn" ng-repeat="anchobtn in widthbuton">{{ anchobtn.width }}</md-option>
                    </md-select>

                </md-input-container>
                <md-input-container flex="50" >
                    <label>Alto elemento</label>
                    <md-select ng-model="altoelement" ng-model-options="{trackBy: '$value.id'}" ng-change="cambio()">
                        <md-option ng-value="altobtn" ng-repeat="altobtn in heightbuton">{{ altobtn.height }}</md-option>
                    </md-select>

                </md-input-container>
            </div>
            <div layout="row">
                <div md-color-picker="textConfig.optionsf" ng-model="textConfig.textcolor"  ng-change="cambio()"></div>
                <div md-color-picker="textConfig.optionsb" ng-model="textConfig.colorfondo"  ng-change="cambio()"></div>
            </div>
        </div>
        <div layout="column" id="attrpanel" ng-show="verattrpanel">
            N°columnas:<br>
            <input class="form-control" type="text" ng-model="num_columanas" placeholder="columnas" id="columnas">
            N°filas:
            <input class="form-control" type="text" ng-model="num_filas" placeholder="alto" id="filas">
        </div>
        <div layout="column" id="attrcheck" ng-show="verattrcheck" style="width: 100%;margin:10px; padding: 5px">

                <div layout="row">
                    <md-input-container flex="50" >
                        <label>Largo elemento</label>
                        <md-select ng-model="largoelemento"  ng-change="cambio()">
                            <md-option ng-value="largocheck" ng-repeat="largocheck in widthcheck">{{ largocheck.width }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="50" >
                        <label>Ancho elemento</label>
                        <md-select ng-model="anchoelegido"  ng-change="cambio()">
                            <md-option ng-value="anchocheck" ng-repeat="anchocheck in anchotexto">{{ anchocheck.name }}</md-option>
                        </md-select>

                    </md-input-container>

                </div>

                <div layout="row">
                    <container flex="50">
                        <p>posicion:</p>
                        <md-radio-group ng-model="posicion.opcion" ng-change="cambio()">
                            <md-radio-button value="izquierda" class="md-primary">izquierda</md-radio-button>
                            <md-radio-button value="derecha"> derecha</md-radio-button>
                        </md-radio-group>
                    </container>
                    <div md-color-picker="textConfig.optionsb" ng-model="textConfig.colorfondo"  ng-change="cambio()"></div>

                </div>


        </div>
        <div layout="column" id="attrparrafo" ng-show="verattrparrafo" style="width: 100%;margin:10px; padding: 5px">
            <div layout="row">
                <md-input-container class="md-block" flex="100">
                    <label>texto</label>
                    <input required name="nomb_elemento" ng-model="modal.nomb_elemento" id="parrafomodal" >

                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="100" >
                    <md-button class="md-primary md-raised md-icon-button"  ng-click="alingjustificar()" >
                        <i class="material-icons">format_align_justify</i>
                    </md-button>
                    <md-button class=" md-primary md-raised md-icon-button" ng-click="alingcentar()">
                        <i class="material-icons">format_align_center</i>
                    </md-button>
                    <md-button class=" md-primary md-raised md-icon-button" ng-click="alingizquierda()">
                        <i class="material-icons">format_align_left</i></md-button>
                    <md-button class=" md-primary md-raised md-icon-button" ng-click="alignderecha()">
                        <i class="material-icons">format_align_right</i></md-button>
                    <md-button class=" md-primary md-raised md-icon-button">
                        <i class="material-icons">format_bold</i></md-button>
                    <md-button class=" md-primary md-raised md-icon-button">
                        <i class="material-icons">format_italic</i></md-button>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50" >
                    <label>fuente</label>
                    <md-select ng-model="familiaelegida" ng-model-options="{trackBy: '$value.id'}">
                        <md-option ng-value="user" ng-repeat="user in fontfamilia">{{ user.name }}</md-option>
                    </md-select>

                </md-input-container>
                <md-input-container flex="50" >
                    <label>tamaño fuente</label>
                    <input required name="font_size" ng-model="font_size.opcion" id="parrafosizemodal">

                </md-input-container>
            </div>
            <div layout="row">
                <div md-color-picker="textConfig.optionsf" ng-model="textConfig.textcolor"  ng-change="cambio()"></div>
            </div>
        </div>
        <div layout="column" id="attrimg" ng-show="verattrimg" >
            <div layout="row"  id="imgcuadrado">
                <img ng-src="{{srcimagen}}"  class="md-card-image"   height="200" style="width: 100%" id="imgmodal"/>
            </div>
            <div layout="row" style="display: none" id="imgcircular">
                <img ng-src="{{srcimagen}}" class="circular--square" style="width: 150px;height: 150px"/>
            </div>
            <div layout="row">
                <div file-input="file" on-change="leerarchivo()" class="md-button md-primary" ></div>
            </div>
            <div layout="row">
                <md-input-container flex="50" >
                    <label>Ancho elemento</label>
                    <md-select ng-model="anchoelement" ng-model-options="{trackBy: '$value.id'}" ng-change="cambio()">
                        <md-option ng-value="anchobtn" ng-repeat="anchobtn in widthbuton">{{ anchobtn.width }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="50" >
                    <label>Alto elemento</label>
                    <md-select ng-model="altoelement" ng-model-options="{trackBy: '$value.id'}" ng-change="cambio()">
                        <md-option ng-value="altobtn" ng-repeat="altobtn in heightbuton">{{ altobtn.height }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="50">
                    <md-radio-group ng-model="formaimmagen.opcion"  ng-change="cambio()">
                        <md-radio-button class="md-primary"
                                         ng-repeat="it in formaimg"
                                         ng-value="it.value"
                                         aria-label="{{it.title}}">{{it.name}}
                        </md-radio-button>
                    </md-radio-group>
                </md-input-container>
            </div>
        </div>
        <div layout="column" id="attrselect" ng-show="verattrselect" >
            <div layout="row">
                <h5>Preview</h5>
                <div class="md-color-picker-checkered-bg" layout="colum" layout-align="center center" style="width:100%;height:80px">
                    <label  class="textoselect" ng-bind="tituloselect">Select list:</label>
                    <select class="form-control selecthijo" ng-model="listaelegida" id="sel1" ng-style="{'width':largoelemento.width}">
                        <option ng-repeat="listaselect in lista">{{listaselect.texto}}</option>
                    </select>
                </div>
            </div>
            <div layout="row" >
                <div layout="column">
                    <md-input-container  flex="100"  class="md-block">
                        <label>cambiar Titulo</label>
                        <input required name="nomb_elemento" ng-model="tituloselect" ng-change="cambio()" id="tituloselect">
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-input-container  flex="100"  class="md-block">
                        <label>agregar datos al select</label>
                        <input ng-model="nuevodato"  id="agregarlistelemento">
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-button class="md-primary" ng-click="agregardatos()">agregar</md-button>
                </div>
                <md-input-container flex="50" >
                    <label>Largo elemento</label>
                    <md-select ng-model="largoelemento"  ng-change="cambio()">
                        <md-option ng-value="largocheck" ng-repeat="largocheck in widthcheck">{{ largocheck.width }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column">
                <div layout="column">
                    <md-divider></md-divider>
                        <md-subheader class="md-no-sticky">Datos:</md-subheader>
                        <md-list-item class="secondary-button-padding" ng-repeat="info in datos">
                            <p>{{info.texto}}</p>
                            <!--<md-button ng-click="consola(datos,$index)">ver</md-button>-->
                            <md-button class="md-secondary" ng-click="eliminarlista($index)"><i class="material-icons">delete</i></md-button>
                            <md-divider></md-divider>
                        </md-list-item>
                </div>
            </div>
        </div>

    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">Cancel</md-button>
        <md-button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="guardarelemento()">Save</md-button>
    </md-card-actions>

</md-card>


